* {
    padding: 0ch;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --primary: #6c63ff;
    --white: #fff;
    --colour-light: rgba(255, 255, 255, .7);
    --colour-black: #000;
    --colour-bg: #1f2641;
    --colour-bg1: #2e3267;
    --colour-bg2: #424890;
    --color: #eaf3fa;
    --color-vip: #2b468b;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 600ms ease;
    --box-shadow: -0px -1px 0px white, 0px 2px 5px black;
    --in-shadow: inset -0px -1px 0px white, inset 0px 2px 5px black;
}


.contact_container {
    background: #1f26415f;
    padding: 4rem;
    width: 80%;
    height: 28rem;
    margin: 2.5rem auto;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    box-decoration-break: 1px solid white;
}

.contact_form {
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 1.2rem;


}

.form_name {
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"] {
    width: 50%;



}

input,
textarea {
    border-radius: 5px;
    width: 100%;
    padding: 0.8rem;
    background: var(--colour-bg);
    color: var(--color);
    box-shadow: var(--in-shadow);

}

.contact_form .btn {
    width: max-content;
    margin-top: .2rem;
    cursor: pointer;
    border-radius: 1px;

}


@media screen and (max-width:600px){

    .contact_container {
        padding: 1rem;
    }
    .contact_form{
        margin: 0 1.5rem 3rem;

    }
    .form_name{
        flex-direction: column;

    }
    .form_name input[type="text"]{
        width: 100%;
}